@charset "ISO-8859-1";
*{
	margin:0;
	padding:0;
}
header{
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("cover5.jpg");
	height:100vh;
	-webkit-background-size:cover;
	background-size:cover;
	background-position:center center;
	position:relative;
    font-family:poppins;
    color:white
}
body{
    
    font-family:poppins;
}
h2{
    font-family:poppins;
    color:white
}
.submit-btn{
    width: 20%;
	padding:10px 30px;
	cursor:pointer;
	background:linear-gradient(to right,rgb(127, 193, 255),aquamarine);
	border:0;
	outline:none;
	border-radius:30px;
}