{% extends "base.html"%}
{% block content %}
    <div style="box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),1px 2px 4px 0px rgba(0,255,255,0.7),2px 4px 8px 0px rgba(0,255,255,0.7),2px 4px 16px 0px rgba(0,255,255,0.7); margin-top: 130px; background-color: rgb(0,0,0,0.2);" class="container text-center">
        <h1 style="color: #6BD0FF; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">User Data</h1>
        <br>
        <table style="color: white; font-size: 18px;" class="table table-bordered table-responsive">
            <tr class="text-center">
                <th class="text-center">
                    S.NO
                </th>
                <th class="text-center">
                    Name
                </th>
            </tr> 
            {%for data in datas%}
            <tr>
                <td>
                    {{data[0]}}
                </td>
                <td>
                    <a href="{{url_for('userinfo',id=data[0])}}" style="color:white;">{{data[1]+" "+data[2]}}</a>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
    {% endblock %}