<html>
    <head>
        <title>
            Sign Up
        </title>
        
        <link rel="stylesheet" href="signUpStyle.css">
    </head>
    <body>
        <div class="signUp-box">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn">&ensp;&ensp;<b>&emsp;&emsp;&emsp;&emsp;Sign Up</b></button>
                    </div>
            <form id="Sign-Up" class="input-group">
                <input type="text" class="input-field" placeholder="Username" required>
                <input type="text" class="input-field" placeholder="Password" required>
                <input type="text" class="input-field" placeholder="Confirm Password" required>
                <div class="drop-down">
                    <select><option>User</option><option>Admin</option></select>
                </div>
                <input type="text" class="input-field" placeholder="Company Name">
                <input type="text" class="input-field" placeholder="Country" required>
                <input type="email" class="input-field" placeholder="E mail" required>
                
                <input type="checkbox" class="check-box"><span>Remember Password</span>
                <div class="submit">
                <button type="submit" class="submit-btn">Sign Up</button><br>
                <button type="submit" class="submit-btn"><a href="home.html">Back</a></button>
                </div>
            </form>
            </div>
            
        </div>
    </body>

</html>